{% extends "base.html" %}
{% from 'macros.html' import print_red %}


{% block greeting %}
<h1>
{% if userinput %}
You entered email {{ userinput.email }} <br>
     and password {{ userinput.password }}<br>
     remember_me is {{ userinput.remember_me }}
{% endif %}
</h1>
{% endblock %} <!-- greeting -->


{% block userform %}
<form method="POST">
    {{ userform.hidden_tag() }} <!-- prevent CSRF -->
    <p>
    {{ userform.email.label }}<br>
    {{ userform.email(size=64) }}<br>
    {{ print_red(userform.email.errors) }}
    </p>
    <p>
    {{ userform.password.label }}<br>
    {{ userform.password(size=32) }}<br>
    {{ print_red(userform.password.errors) }}
    </p>
    <p>{{ userform.remember_me() }}{{ userform.remember_me.label }}</p>
    {{ userform.submit() }}<br>
</form>
{% endblock %} <!-- userform -->
